.bar-container {
  position: relative;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--range, 100), 1fr);
  height: 300px;

  margin-right: max(75%, 50px);

  & p {
    position: absolute;
    top: 300px;
    right: var(--move-right, 20%);
  }
}

tr td:last-child {
  width: var(--last-width, 5%);
  min-width: 18px;

  .bar-container {
    margin: 0;
  }
}

.bar {
  grid-row-start: var(--percentage, 12);
  grid-row-end: var(--end, 101);
  background-color: $primary;
  min-width: 18px;
  // display: none;
}

.legend {
  position: relative;
  bottom: 10px;

  p {
    min-width: 26px;
  }

  & p:last-child {
    position: relative;
  }
}

.guideline::after {
  content: "";
  display: block;
  width: var(--width, 1000px);
  height: 10px;
  border-bottom: 1px solid rgb(222, 226, 230);
  position: absolute;
  top: 20%;
  left: 32px;
}

@include media-breakpoint-up(sm) {
  .guideline::after {
    left: 35px;
  }
}

@media (max-width: 366px) {
  .guideline::after {
    left: 28px;
  }
}
