// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "~bootstrap/scss/functions";

// 2. Include any default variable overrides here
@import "./abstracts/variables";

// 3. Include remainder of required Bootstrap stylesheets
@import "~bootstrap/scss/variables";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "~bootstrap/scss/utilities/api";

// 8. Add additional custom code here
// @import "~bootstrap/scss/bootstrap";

.icon {
  --diameter: 25px;
  display: inline-block;
  width: var(--diameter);
  height: var(--diameter);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.card-grid,
.hero,
.overview-grid {
  display: grid;
  gap: 16px;
}

.title-layout {
  display: grid;
}

.data {
  max-height: 240px;
}

.overflow-x {
  overflow-x: scroll;
}

.overflow-y {
  overflow-y: scroll;
}

.data thead td {
  position: sticky;
  top: 0;
  z-index: 1;
}

@import "./media.scss";
@import "./graph.scss";

.black-text-label {
  color: black;
}

.btn-check:checked + .btn {
  color: white;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: none;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: lighten($secondary, 30);
  border-radius: 0.5rem;
}

.nav__link {
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  fill: $gray-700;
  color: $gray-700;

  img {
    width: 50%;
    height: 50%;
  }

  p {
    margin: 0;
  }

  &:hover {
    fill: $success !important;
    color: $success;
    cursor: pointer;
  }

  .icon {
    width: 50px;
    height: 50px;
    margin: 0.5em;
    margin-bottom: 0;

    use {
      fill: inherit;
    }
  }
}

.active {
  color: $success;
  fill: $success;
}

.fill-white {
  fill: white;
}

.custom-bg-blue {
  background: hsl(187, 56%, 61%);
}

.custom-bg-green {
  background: hsl(153, 49%, 52%);
}

.custom-bg-red {
  background: hsl(359, 88%, 68%);
}
