// bootstrap function
@import '~bootstrap/scss/functions';

// default variable overrides
@import './abstracts/variables';

// remainder of required Bootstrap stylesheets
@import '~bootstrap/scss/variables';

// default map overrides

// remainder of required parts
@import '~bootstrap/scss/maps';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/root';

// other desired bootstrap contents
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/helpers';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/tables';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/close';

// @import '~bootstrap/scss/transitions';

// bootstrap utitlities api
@import '~bootstrap/scss/utilities/api';

// custom code
.icon {
  --diameter: 25px;
  display: inline-block;
  width: var(--diameter);
  height: var(--diameter);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.card-grid,
.hero,
.overview-grid {
  display: grid;
  gap: 16px;
}

.title-layout {
  display: grid;
}

.data {
  max-height: 240px;
}

.table-head:hover {
  cursor: pointer;
  background: lighten($info, 3);
}

.overflow-x {
  overflow-x: scroll;
}

.overflow-y {
  overflow-y: scroll;
}

.data thead td {
  position: sticky;
  top: 0;
  z-index: 1;
}

// custom imports
@import './scrollbar.scss';
@import './media.scss';
@import './graph.scss';
@import './navbar.scss';

// classes that change colors
.black-text-label {
  color: black;
}

.btn-check:checked + .btn {
  color: white;
}

.active {
  color: $success;
  fill: $success;
}

.fill-white {
  fill: white;
}

$custom-colors: (
  'blue': hsl(187, 56%, 61%),
  'green': hsl(153, 49%, 52%),
  'red': hsl(359, 88%, 68%),
);

@each $color, $value in $custom-colors {
  .custom-bg-#{$color} {
    background-color: $value;
  }
}

.w-0 {
  width: 0 !important;
  overflow: visible;
}

.text-nowrap {
  white-space: nowrap;
}

.full-screen {
  width: 100vw;
}
